@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Your HSL color variables */
  --black: 0 0% 0%;
  --oxford-blue: 221 51% 16%;
  --orange-web: 37 98% 53%;
  --platinum: 0 0% 90%;
  --white: 0 0% 100%;
}

@layer base {
  :root {
    --background: var(--white);
    --foreground: var(--black);
    --card: var(--white);
    --card-foreground: var(--black);
    --popover: var(--white);
    --popover-foreground: var(--black);
    --primary: var(--oxford-blue);
    --primary-foreground: var(--platinum);
    --secondary: var(--platinum);
    --secondary-foreground: var(--oxford-blue);
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: var(--orange-web);
    --accent-foreground: var(--oxford-blue);
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: var(--oxford-blue);
    --radius: 0.5rem;
  }

  .dark {
    /* Dark mode configuration */
    --background: var(--oxford-blue);
    --foreground: var(--platinum);
    --card: var(--black);
    --card-foreground: var(--platinum);
    --popover: var(--black);
    --popover-foreground: var(--platinum);
    --primary: var(--orange-web);
    --primary-foreground: var(--oxford-blue);
    --secondary: var(--black);
    --secondary-foreground: var(--platinum);
    --muted: var(--black);
    --muted-foreground: var(--platinum);
    --accent: var(--white);
    --accent-foreground: var(--black);
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: var(--black);
    --input: var(--black);
    --ring: var(--orange-web);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}